@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Color: #EE7A3F;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

nav .logo img {
    margin-inline: 40px;
    width: 200px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 100px;
    /* gap: 0px; */
    background-color: #EE7A3F;
}

nav ul {
    background-color: #EE7A3F;
    padding-inline: 193px;
    list-style: none;
    padding-block: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

nav ul li {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}